---
import Layout from "../layouts/Layout.astro"
import Counter from "../components/FiltroBusqueda/Counter.vue"
import ListaInmuebles from "../components/FiltroBusqueda/ListaInmuebles.vue"
---

<Layout title="Búsqueda Inmuebles - Portada Inmobiliaria">
  <div class="isolate relative px-6 pt-32 lg:px-8" id="form-datos">
    <div
      class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
      aria-hidden="true"
    >
      <div
        class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-red-200 to-red-600 opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
      >
      </div>
    </div>
    <div class="mx-auto max-w-2xl text-center mt-8">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
        Búsqueda de Inmueble
      </h2>
    </div>
    <form class="mx-auto mt-8 max-w-3xl">
      <div class="grid grid-cols-1 gap-x-8 gap-y-3 md:gap-y-6 sm:grid-cols-2">
        <div class="col-span-2 md:col-span-1">
          <div>
            <div class="relative flex items-center w-full">
              <div class="absolute pl-2">
                <svg
                  class="icon icon-tabler icon-tabler-home"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="#DC2626"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                  <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                  <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                </svg>
              </div>
              <select
                class="bg-white min-w-full shadow-custom rounded-md border-0 py-2 px-8 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-red-700 outline-none"
              >
                <option value="arrendar" selected>Arrendar</option>
                <option value="comprar">Comprar</option>
              </select>
              <div class="absolute text-red-600 right-0 pr-3">
                <svg
                  class="w-2.5 h-2.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-span-2 md:col-span-1">
          <div>
            <div class="relative flex items-center w-full">
              <div class="absolute pl-2 text-red-600">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-key"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M16.555 3.843l3.602 3.602a2.877 2.877 0 0 1 0 4.069l-2.643 2.643a2.877 2.877 0 0 1 -4.069 0l-.301 -.301l-6.558 6.558a2 2 0 0 1 -1.239 .578l-.175 .008h-1.172a1 1 0 0 1 -.993 -.883l-.007 -.117v-1.172a2 2 0 0 1 .467 -1.284l.119 -.13l.414 -.414h2v-2h2v-2l2.144 -2.144l-.301 -.301a2.877 2.877 0 0 1 0 -4.069l2.643 -2.643a2.877 2.877 0 0 1 4.069 0z"
                  ></path>
                  <path d="M15 9h.01"></path>
                </svg>
              </div>
              <select
                class="bg-white min-w-full shadow-custom rounded-md border-0 py-2 px-8 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-red-700 outline-none"
              >
                <option value="" selected>Tipo de Inmueble</option>
                <option value="">Apartamento</option>
                <option value="">Casa</option>
                <option value="">Consultorio</option>
                <option value="">Oficina</option>
                <option value="">Local</option>
                <option value="">Bodega</option>
                <option value="">Lote</option>
                <option value="">Finca</option>
                <option value="">Edificio</option>
                <option value="">Apartaestudio</option>
              </select>
              <div class="absolute text-red-600 right-0 pr-3">
                <svg
                  class="w-2.5 h-2.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-span-2 md:col-span-1">
          <div>
            <div class="relative flex items-center w-full">
              <div class="absolute pl-2 text-red-600">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-map-pin"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0"></path>
                  <path
                    d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
                  ></path>
                </svg>
              </div>
              <select
                class="bg-white min-w-full shadow-custom rounded-md border-0 py-2 px-8 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-red-700 outline-none"
              >
                <option value="" selected>Ubicación</option>
              </select>
              <div class="absolute text-red-600 right-0 pr-3">
                <svg
                  class="w-2.5 h-2.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="col-span-2 md:col-span-1">
          <div>
            <div class="relative flex items-center w-full">
              <div class="absolute pl-2 text-red-600">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-map-2"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                    d="M12 18.5l-3 -1.5l-6 3v-13l6 -3l6 3l6 -3v7.5"></path>
                  <path d="M9 4v13"></path><path d="M15 7v5.5"></path>
                  <path
                    d="M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z"
                  ></path>
                  <path d="M19 18v.01"></path>
                </svg>
              </div>
              <select
                class="bg-white min-w-full shadow-custom rounded-md border-0 py-2 px-8 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-red-700 outline-none"
              >
                <option value="" selected>Sector</option>
              </select>
              <div class="absolute text-red-600 right-0 pr-3">
                <svg
                  class="w-2.5 h-2.5"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 10 6"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m1 1 4 4 4-4"></path>
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="relative mb-6 col-span-2">
          <label for="labels-range-input" class="sr-only">Labels range</label>
          <input
            id="labels-range-input"
            type="range"
            value="100"
            min="100"
            max="1500"
            class="w-full h-2 bg-red-400 rounded-lg appearance-none cursor-pointer"
          />
          <span
            class="text-sm text-gray-500 dark:text-gray-400 absolute start-0 -bottom-6"
            >Min</span
          >
          <span
            class="text-sm text-gray-500 dark:text-gray-400 absolute end-0 -bottom-6"
            >Max</span
          >
        </div>

        <div class="col-span-2">
          <div class="grid grid-cols-1 md:grid-cols-3 md:gap-3 gap-y-3 w-full">
            <div>
              <Counter
                client:load
                localStorage="habitaciones"
                title="Habitaciones"
                svg=`
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bed" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                <path d="M22 17v-3h-20" />
                                <path d="M2 8v9" />
                                <path d="M12 14h10v-2a3 3 0 0 0 -3 -3h-7v5z" />
                                </svg>
                                `
              />
            </div>
            <div>
              <Counter
                client:load
                localStorage="banos"
                title="Baños"
                svg=`
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-toilet-paper" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M6 10m-3 0a3 7 0 1 0 6 0a3 7 0 1 0 -6 0" /><path d="M21 10c0 -3.866 -1.343 -7 -3 -7" />
                                <path d="M6 3h12" />
                                <path d="M21 10v10l-3 -1l-3 2l-3 -3l-3 2v-10" />
                                <path d="M6 10h.01" />
                            </svg>
                                `
              />
            </div>
            <div>
              <Counter
                client:load
                localStorage="parking"
                title="Parqueaderos"
                svg=`
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-parking-circle" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M10 16v-8h2.667c.736 0 1.333 .895 1.333 2s-.597 2 -1.333 2h-2.667" />
                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            </svg>
                                `
              />
            </div>
          </div>
        </div>
      </div>
    </form>

    <ListaInmuebles client:only />
  </div></Layout
>
