---
import Layout from "../layouts/Layout.astro"
import Counter from "../components/FiltroBusqueda/Counter.vue"
import ListaInmuebles from "../components/FiltroBusqueda/ListaInmuebles.vue"
import RangeSlider from "../components/FiltroBusqueda/RangeSlider.vue"
import FilterSelects from "../components/FiltroBusqueda/FilterSelects.vue"
---

<Layout title="Búsqueda Inmuebles - Portada Inmobiliaria">
  <div class="isolate relative px-6 pt-32 lg:px-8" id="form-datos">
    <div
      class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
      aria-hidden="true"
    >
      <div
        class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-red-200 to-[--primary-color] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
      >
      </div>
    </div>
    <div class="mx-auto max-w-2xl text-center mt-8">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
        Búsqueda de Inmueble
      </h2>
    </div>
    <form class="mx-auto mt-8 max-w-3xl">
      <div class="grid grid-cols-1 gap-x-8 gap-y-3 md:gap-y-6 sm:grid-cols-2">
        <FilterSelects client:only />

        <div class="col-span-2">
          <RangeSlider client:only />
        </div>

        <div class="col-span-2">
          <div class="grid grid-cols-1 md:grid-cols-3 md:gap-3 gap-y-3 w-full">
            <div>
              <Counter
                client:load
                localStorage="habitaciones"
                title="Habitaciones"
                svg=`
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bed" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7 9m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                <path d="M22 17v-3h-20" />
                                <path d="M2 8v9" />
                                <path d="M12 14h10v-2a3 3 0 0 0 -3 -3h-7v5z" />
                                </svg>
                                `
              />
            </div>
            <div>
              <Counter
                client:load
                localStorage="banos"
                title="Baños"
                svg=`
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-toilet-paper" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M6 10m-3 0a3 7 0 1 0 6 0a3 7 0 1 0 -6 0" /><path d="M21 10c0 -3.866 -1.343 -7 -3 -7" />
                                <path d="M6 3h12" />
                                <path d="M21 10v10l-3 -1l-3 2l-3 -3l-3 2v-10" />
                                <path d="M6 10h.01" />
                            </svg>
                                `
              />
            </div>
            <div>
              <Counter
                client:load
                localStorage="parking"
                title="Parqueaderos"
                svg=`
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-parking-circle" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M10 16v-8h2.667c.736 0 1.333 .895 1.333 2s-.597 2 -1.333 2h-2.667" />
                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
                            </svg>
                                `
              />
            </div>
          </div>
        </div>
      </div>
    </form>

    <ListaInmuebles client:only />
  </div></Layout
>
