---
import Layout from "../layouts/Layout.astro"
import ListaInmuebles from "../components/FiltroBusqueda/ListaInmuebles.vue"
import Filter from "../components/FiltroBusqueda/Filter.vue"
---

<Layout title="Búsqueda Inmuebles - Portada Inmobiliaria">
  <div class="isolate relative px-6 pt-32 lg:px-8" id="form-datos">
    <div
      class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
      aria-hidden="true"
    >
      <div
        class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-red-200 to-[--primary-color] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
      >
      </div>
    </div>
    <div class="mx-auto max-w-2xl text-center mt-8">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
        Búsqueda de Inmueble
      </h2>
    </div>
    <form class="mx-auto mt-8 max-w-3xl">
      <div class="grid grid-cols-1 gap-x-8 gap-y-3 md:gap-y-6 sm:grid-cols-2">
        <Filter client:load />
      </div>
    </form>

    <ListaInmuebles client:load />
  </div></Layout
>
