---
import Layout from "../layouts/Layout.astro";
import Filter from "../components/Filter.astro";
---

<Layout title="Portada Inmobiliaria - Profesionales en Vivir Mejor">
  <div>
    <img
      src="../../public/banner1.webp"
      alt=""
    />
  </div>
  <Filter></Filter>
</Layout>