---
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro";
import Filter from "../components/Filter.astro";
import Sedes from "../components/Sedes.vue";
import Title from '../components/Title.astro';
import bannerPrincipal from "../../public/img/banner1.webp"
---

<Layout title="Portada Inmobiliaria - Profesionales en Vivir Mejor">
  <div class="pt-28">
    <Image src={bannerPrincipal} alt="" />
  </div>
  <Filter></Filter>

  <!-- CARDS DESTACADOS -->
  <Title>Inmuebles Destacados</Title>

  <!-- DESTACADOS -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mx-4">
    <div class="relative overflow-hidden">
        <img src="/img/destacados/destacado1.webp" class="hover:scale-105 hover:brightness-75 transition-transform duration-300 ease-in-out cursor-pointer" alt="" />
    </div>
    <div class="relative overflow-hidden">
        <img src="/img/destacados/destacado2.webp" class="hover:scale-105 hover:brightness-75 transition-transform duration-300 ease-in-out cursor-pointer" alt="" />
    </div>
    <div class="relative overflow-hidden">
        <img src="/img/destacados/destacado3.webp" class="hover:scale-105 hover:brightness-75 transition-transform duration-300 ease-in-out cursor-pointer" alt="" />
    </div>
  </div>


  <!-- CARDS BLOG -->
  <Title>Blog</Title>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mx-4 max-w-full">
    <div class="flex flex-col cursor-pointer card-blog">
      <div class="relative flex-grow">
        <img
          src="/img/blog/blog1.webp"
          alt=""
          class="w-full h-full object-cover rounded-t-md"
        />
      </div>
      <div class="bg-red-600 p-5 text-center rounded-b-md card-blog-text">
        <span class="font-bold text-white uppercase">
          ¿Por qué elegirnos como tu agente inmobiliario de confianza?
        </span>
      </div>
    </div>

    <div class="flex flex-col cursor-pointer card-blog">
      <div class="relative flex-grow image-blur">
        <img
          src="/img/blog/blog2.webp"
          alt=""
          class="w-full h-full object-cover rounded-t-md"
        />
      </div>
      <div class="bg-red-600 p-5 text-center rounded-b-md card-blog-text">
        <span class="font-bold text-white uppercase">
          Conoce todas las ventajas de contratar una agencia inmobiliaria
          integral y segura
        </span>
      </div>
    </div>

    <div class="flex flex-col cursor-pointer card-blog">
      <div class="relative flex-grow">
        <img
          src="/img/blog/blog3.webp"
          alt=""
          class="w-full h-full object-cover rounded-t-md"
        />
      </div>
      <div class="bg-red-600 p-5 text-center rounded-b-md card-blog-text">
        <span class="font-bold text-white uppercase">
          Los beneficios de contar con una solución integral en el mercado
          inmobiliario
        </span>
      </div>
    </div>

    <div class="flex flex-col cursor-pointer card-blog">
      <div class="relative flex-grow">
        <img
          src="/img/blog/blog4.webp"
          alt=""
          class="w-full h-full object-cover rounded-t-md"
        />
      </div>
      <div class="bg-red-600 p-5 text-center rounded-b-md card-blog-text">
        <span class="font-bold text-white uppercase">
          Encuentra tu hogar ideal con nuestras soluciones inmobiliarias
          integrales
        </span>
      </div>
    </div>
  </div>

  <!-- NUESTRAS SEDES -->
  <Title>Nuestras Sedes</Title>
  <Sedes client:visible></Sedes>

  <!-- <div class="grid grid-cols-6 gap-4 mx-4">
    <div class="col-span-4">
      <div class="flex-col flex-1 text-center">
        <span class="font-bold text-3xl">ANTIOQUIA</span>
        <div class="grid grid-cols-4 gap-4 mt-2">
          <div class="p-2">
            <img src="/img/sedes/laureles.webp" alt="" />
          </div>
          <div class="p-2">
            <img src="/img/sedes/bello.webp" alt="" />
          </div>
          <div class="p-2">
            <img src="/img/sedes/colores.webp" alt="" />
          </div>
          <div class="p-2">
            <img src="/img/sedes/poblado.webp" alt="" />
          </div>
          <div class="p-2">
            <img src="/img/sedes/envigado.webp" alt="" />
          </div>
          <div class="p-2">
            <img src="/img/sedes/sabaneta.webp" alt="" />
          </div>
          <div class="p-2">
            <img src="/img/sedes/estrella.webp" alt="" />
          </div>
          <div class="p-2">
            <img src="/img/sedes/rionegro.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-2">
      <div class="flex-col text-center">
        <span class="font-bold text-3xl">CUNDINAMARCA</span>
        <div class="grid grid-cols-2 gap-4 mt-2">
          <div class="p-2">
            <img src="/img/sedes/bogota.webp" alt="" />
          </div>
          <div class="p-2">
            <img src="/img/sedes/mosquera.webp" alt="" />
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center p-4">
        <img src="/img/logo-horizontal-portada.webp" alt="Logo" />
      </div>
    </div>
  </div> -->
</Layout>

<style>
  .card-blog:hover img {
    filter: brightness(.75);
  }

  .card-blog:hover .card-blog-text {
    background-color: rgb(153 27 27);
  }
</style>