---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Nosotros - Portada Inmobiliaria">
  <div class="pt-24">
    <img src="/img/BannerNosotros.webp" alt="" />
  </div>

  <div class="h-fit relative px-6 mt-16 sm:mt-20">
    <div class="grid grid-rows-3 grid-cols-2">
      <div class="w-full flex flex-col col-span-2">
        <div class="w-full h-fit flex justify-center items-center gap-x-36">
          <div
            class="rounded-full flex items-center text-center text-balance bg-[#D5C400] bg-opacity-50 w-[480px] sm:h-[80%]"
          >
            <div class="p-10">
              <h2 class="text-xl md:text-5xl font-bold uppercase md:mb-2">
                Misión
              </h2>
              <p class="text-sm md:text-xl">
                Somos una organización de soluciones inmobiliarias integrales
                que genera confianza y bienestar en sus clientes, colaboradores
                y socios mediante procesos ágiles e innovadores, comprometidos
                con el desarrollo sostenible para la región y el país.
              </p>
            </div>
          </div>
          <div class="rounded-b-full overflow-hidden hidden sm:block">
            <img class="h-full w-full" src="/img/Cristina.webp" alt="" />
          </div>
        </div>
      </div>

      <div class="w-full flex flex-col col-span-2">
        <div class="w-full h-fit flex justify-center items-center gap-x-36">
          <div class="rounded-b-full overflow-hidden hidden sm:block">
            <img class="h-full w-full" src="/img/Jeison.webp" alt="" />
          </div>
          <div
            class="rounded-full flex items-center text-center text-balance bg-[#0080C0] bg-opacity-50 p-5 w-[480px] h-[80%]"
          >
            <div class="p-10">
              <h2 class="text-xl md:text-5xl font-bold uppercase md:mb-2">
                Visión
              </h2>
              <p class="text-sm md:text-xl">
                Ser la mejor opción de soluciones inmobiliarias integrales con
                personas expertas en el sector, soportadas en procesos ágiles,
                innovadores y oportunos, comprometida en su desarrollo rentable
                y sostenible.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full flex flex-col col-span-2">
        <div class="w-full h-fit flex justify-center items-center gap-x-36">
          <div
            class="rounded-full flex items-center text-center text-balance bg-[#FF0000] bg-opacity-50 p-5 w-[480px] h-[80%] justify-center"
          >
            <div class="p-10">
              <h2 class="text-xl md:text-5xl font-bold uppercase md:mb-2">
                Valores
              </h2>
              <ul class="text-sm md:text-xl">
                <li>Orientación al servicio</li>
                <li>Compromiso</li>
                <li>Excelencia</li>
                <li>Innovación</li>
                <li>Agilidad</li>
              </ul>
            </div>
          </div>
          <div class="rounded-b-full overflow-hidden hidden sm:block">
            <img class="h-full w-full" src="/img/Juana.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
