---
import ButtonIcon from "../components/Button/ButtonIcon.astro";
---

<div class="flex justify-center items-center m-28">
  <section class="search-bar relative">
    <div class="buttons-search flex">
      <ButtonIcon
        icon="/icons/arrendar.svg"
        iconSize="24"
        text="Arrendar"
        active
      />
      <ButtonIcon icon="/icons/comprar.svg" iconSize="18" text="Comprar" />
    </div>
    <div class="form shadow-lg flex bg-white">
      <div class="inputs flex p-10 space-x-3">
        <div>
          <select class="w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-red-700 sm:text-sm sm:leading-6 outline-none">
            <option value="0" selected="">Tipo de inmueble</option>
            <option value="Apartamento">Apartamento</option>
            <option value="Casa">Casa</option>
            <option value="Consultorio">Consultorio</option>
            <option value="Oficina">Oficina</option>
            <option value="Local">Local</option>
            <option value="Bodega">Bodega</option>
            <option value="Lote">Lote</option>
            <option value="Finca">Finca</option>
            <option value="Edificio">Edificio</option>
            <option value="Apartaestudio">Apartaestudio</option>
          </select>
        </div>
        <div>
          <select class="w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400  focus:ring-2 focus:ring-red-700 sm:text-sm sm:leading-6 outline-none">
            <option value="0" selected="">Ubicacion</option>
          </select>
        </div>
        <div>
          <input class="w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-900  focus:ring-2 focus:ring-red-700 sm:text-sm sm:leading-6 outline-none" placeholder="Buscar por Código">
          </input>
        </div>
      </div>
    </div>
    <div>
      <button class="bg-red-600 text-white p-2 rounded-b-md absolute right-0 font.se">Buscar</button>
    </div>
  </section>
</div>