<div class="flex flex-col bg-gray-900 text-white justify-center items-center p-5 mt-24 sm:mt-8">
  <div class="flex-row text-center">

    <span class="border-b-2 m-4 flex-wrap border-transparent cursor-pointer hover:border-white transition duration-300 ease-in-out">
      Política Sagrilaft
    </span>
    <span class="border-b-2 m-4 flex-wrap border-transparent cursor-pointer hover:border-white transition duration-300 ease-in-out">
      Política SST
    </span>
    <div class="mt-2">
      <span class="border-b-2 m-4 flex-wrap border-transparent cursor-pointer hover:border-white transition duration-300 ease-in-out">
        Política Tratamiento Datos Personales
      </span>
    </div>
  </div>
  <div class="flex-col text-center mt-4">
    <span class="text-sm"
      >© Copyright 2024 - Portada Inmobiliaria. Todos los derechos reservados</span
    >
  </div>
</div>