---
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="min-h-screen 2xl:text-lg">
    <Header />
    <slot />
    <Footer />
    <style is:global>
      @font-face {
        font-family: "RobotoCondensed-Regular";
        src: url("/font/RobotoCondensed-Regular.woff2") format("woff2");
      }

      :root {
        --primary-color: rgba(209, 17, 22);
        --primary-color-75: rgba(209, 17, 22, 0.75);
        --primary-color-50: rgba(209, 17, 22, 0.5);
        --primary-color-25: rgba(209, 17, 22, 0.25);

        --cyan-color: rgba(0, 159, 227);
        --cyan-color-75: rgba(0, 159, 227, 0.75);
        --cyan-color-50: rgba(0, 159, 227, 0.5);
        --cyan-color-25: rgba(0, 159, 227, 0.25);

        --yellow-color: rgba(255, 237, 0);
        --yellow-color-75: rgba(255, 237, 0.75);
        --yellow-color-50: rgba(255, 237, 0.5);
        --yellow-color-25: rgba(255, 237, 0.25);
      }

      * {
        font-family: "RobotoCondensed-Regular", sans-serif;
        scrollbar-width: none;
      }

      body {
        background: url("/img/Background_2024.webp");
        background-size: cover;
      }

      select {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
      }

      input[type="range"]::-webkit-slider-thumb {
        width: 18px;
        -webkit-appearance: none;
        height: 18px;
        background: var(--primary-color);
        border-radius: 100%;
      }

      .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    </style>
  </body>
</html>
