---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<Header></Header>
		<slot />
		<Footer></Footer>
	</body>
</html>

<style>
	@font-face {
		font-family: 'RobotoCondensed-Regular';
		src: url('/font/RobotoCondensed-Regular.woff2') format('woff2');
	}

	* {
		font-family: 'RobotoCondensed-Regular', sans-serif;
	}

	body {
		background: url("/img/Background_2024.webp");
		background-size: cover;
	}
</style>